* {
  box-sizing: border-box;
}

:root {
  --primary-font-family: "Times New Roman", Times, serif;
  --secondary-font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --marketing-font-family: "Times New Roman", Times, serif;
  /* COLORS */
  --canvas-color: #e8e3cf;
  --text-color: #2c2c2c;
  --primary-color: #745656;
  --secondary-color: #2c2c2c;
  --primary-hover-color: #8e8c80;
  --secondary-hover-color: #000;
  --textondark-color: #fff;
  --button-border-radius: 9999px;
  --max-width-marketing-desktop: 960px;
}

.mn-header {
  background: var(--canvas-color);
  container-type: inline-size;

  .mn-page-title {
    margin-left: auto;
    margin-right: auto;
    font-family: var(--primary-font-family);
  }

  .mn-header-shell {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width-marketing-desktop);
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .mn-navigation {
    display: flex;
    flex-direction: column;
  }

  .mn-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin-right: 20px;
  }

  .mn-navigation-link {
    font-family: var(--secondary-font-family);
    display: inline-block;
    padding-left: 12px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
  }

  .mn-navigation-action-button {
    margin-left: auto;
    margin-right: auto;
  }

  @container (width > 700px) {
    .mn-header-shell {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 0;
    }

    .mn-page-title {
      margin-left: initial;
      margin-right: initial;
    }

    .mn-navigation {
      flex-direction: row;
      align-items: center;
    }

    .mn-navigation-list {
      flex-direction: row;
      align-items: center;
    }

    .mn-navigation-list-item {
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom-color: var(--text-color);
      }
    }
  }

  @container (width > 960px) {
    .mn-header-shell {
      padding-left: initial;
      padding-right: initial;
    }
  }

  .mn-navigation-link {
    text-decoration: none;
    color: var(--text);
  }
}

.mn-hero {
  container-type: inline-size;

  .mn-heroshell {
    max-width: var(--max-width-marketing-desktop);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  .mn-hero-leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mn-hero-buttonsgroup {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
  }

  .mn-hero-bigtext {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .mn-hero-subtext {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    padding-top: 15px;
    display: inline-block;
  }

  .mn-hero-rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 80px;
    margin-left: auto;
    width: 100%;
  }

  .mn-hero-fancytextgroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
  }

  @container (width > 430px) {
    .mn-hero-leftsideshell {
      width: 430px;
    }

    .mn-hero-bigtext {
      font-size: 48px;
    }

    .mn-hero-subtext {
      font-size: 20px;
    }

    .mn-hero-rightside {
      width: 430px;
    }

    .mn-hero-fancytextgroup {
      padding-left: initial;
    }

    .mn-hero-fancytext1 {
      font-size: 24px;
    }

    .mn-hero-fancytext2 {
      font-size: 24px;
    }

    .mn-hero-fancytext3 {
      font-size: 24px;
      font-weight: 700;
    }

    .mn-hero-fancytext4 {
      font-size: 24px;
    }
  }

  @container (width > 960px) {
    .mn-heroshell {
      grid-template-columns: 1fr 1fr;
      height: 540px;
    }

    .mn-hero-bigtext {
      font-size: 60px;
    }

    .mn-hero-subtext {
      font-size: 24px;
    }

    .mn-hero-fancytextgroup {
      width: initial;
      align-self: end;
    }

    .mn-hero-rightside {
      margin-top: initial;
      margin-bottom: initial;
    }
  }
}

.mn-shell {
  container-type: inline-size;

  .mn-primary-button {
    /* defaults */
    text-decoration: none;
    border: none;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    width: fit-content;
    display: inline-block;
    text-wrap: nowrap;

    /* theme */
    background: var(--primary-color);
    color: var(--textondark-color);
    border-radius: var(--button-border-radius);
    font-family: var(--primary-font-family);

    &:hover {
      background: var(--primary-hover-color);
    }
  }

  .mn-secondary-button {
    /* defaults */
    text-decoration: none;
    border: none;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    width: fit-content;
    display: inline-block;
    text-wrap: nowrap;

    /* theme */
    background: var(--secondary-color);
    color: var(--textondark-color);
    border-radius: var(--button-border-radius);
    font-family: var(--primary-font-family);

    &:hover {
      background: var(--secondary-hover-color);
    }
  }

  .mn-outline-button {
    /* defaults */
    text-decoration: none;
    border: none;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    width: fit-content;
    display: inline-block;
    text-wrap: nowrap;

    /* theme */
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: transparent;
    border-radius: var(--button-border-radius);
    font-family: var(--primary-font-family);

    &:hover {
      background: var(--secondary-hover-color);
      color: var(--textondark-color);
    }
  }

  @container (width > 430px) {
    .mn-large-button {
      font-size: 20px;
    }
  }
}
